@charset "UTF-8";

@font-face {
  font-family: "Boston";
  src: url("../fonts/Boston-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Boston";
  src: url("../fonts/Boston-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Boston";
  src: url("../fonts/Boston-SemiBold.woff2") format("woff2");
  font-weight: 500;
}

/* Box sizing rules */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Remove default padding */

ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */

article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

*:focus {
  outline: none;
}

/* Remove all animations and transitions for people that prefer not to see them */

.cover__img img,
.rating__inner::after,
.hero__image,
.hero__image .image,
.card__media::before,
.card__media::after,
.card__img__overlay::before,
.card__img__overlay::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  font-family: "Boston";
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #161616;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.hidden {
  display: none !important;
}

.cover__img {
  position: relative;
  display: block;
  overflow: hidden;
}

.cover__img::before {
  display: block;
  content: "";
  padding-top: 0%;
}

.cover__img img {
  -o-object-fit: cover;
  object-fit: cover;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.5);
  z-index: 100;
}

.loader__inner {
  display: block;
  border-style: solid;
  border-color: #1F35D4;
  border-top-color: #E160E4;
  border-radius: 50%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
}

@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.button {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 35px;
  padding: 0 10px;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  -webkit-transition: background-color .3s, -webkit-box-shadow .3s;
  transition: background-color .3s, -webkit-box-shadow .3s;
  -o-transition: background-color .3s, box-shadow .3s;
  transition: background-color .3s, box-shadow .3s;
  transition: background-color .3s, box-shadow .3s, -webkit-box-shadow .3s;
  cursor: pointer;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.button__circle {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: width .4s, height .4s, opacity .4s;
  -o-transition: width .4s, height .4s, opacity .4s;
  transition: width .4s, height .4s, opacity .4s;
}

.button__text {
  position: relative;
  z-index: 10;
}

.button__primary {
  background-color: #1F35D4;
  color: #FFF;
}

.button__primary .button__circle {
  background-color: #354CED;
}

.button__primary:hover {
  background-color: #4358F4;
}

.button__primary:focus {
  -webkit-box-shadow: 0px 0px 6px #1F35D4;
  box-shadow: 0px 0px 6px #1F35D4;
}

.button__primary:disabled,
.button__primary.disabled {
  background-color: grey;
  color: #C3C8E9;
}

.button__secondary {
  background-color: #E160E4;
  color: #FFF;
}

.button__secondary .button__circle {
  background-color: #F171F4;
}

.button__secondary:hover {
  background-color: #EF94F1;
}

.button__secondary:focus {
  -webkit-box-shadow: 0px 0px 6px #E160E4;
  box-shadow: 0px 0px 6px #E160E4;
}

.button__secondary:disabled,
.button__secondary.disabled {
  background-color: grey;
  color: #C3C8E9;
}

.datepicker {
  padding: 10px 15px 10px 40px;
  background-color: #F5F6FD;
  background-image: url("../images/datepicker.svg");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: 15px center;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.select {
  padding: 10px 15px 10px 40px;
  background-color: #F5F6FD;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  -o-text-overflow: '';
  text-overflow: '';
}

.select__user {
  background-image: url("../images/user.svg");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: 10px center;
}

.rating {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 25px;
  margin: 0 auto;
  font-size: 25px;
}

.rating::before {
  content: '★★★★★';
  opacity: .5;
  color: #E5E8FE;
}

.rating__inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.rating__inner::after {
  content: '★★★★★';
  display: block;
  color: gold;
  overflow: hidden;
}

.header__nav__link {
  color: #161616;
  text-decoration: none;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.header__nav__link:hover,
.header__nav__link:active {
  color: #1F35D4;
}

.header__nav__link:focus {
  color: #E160E4;
}

.header__nav__link:disabled,
.header__nav__link .disabled {
  color: #C3C8E9;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid transparent;
  z-index: 20;
  -webkit-transition: background-color .3s, border-bottom .3s;
  -o-transition: background-color .3s, border-bottom .3s;
  transition: background-color .3s, border-bottom .3s;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
}

.header__nav__link {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero {
  position: relative;
  padding: 136px 0 96px;
}

.hero__image {
  z-index: -1;
}

.hero__image .image {
  -o-object-fit: cover;
  object-fit: cover;
}

.hero__text {
  max-width: 683px;
  margin: 0 auto;
  text-align: center;
  color: #FFF;
}

.hero__subtitle {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
}

.hero__title {
  font-weight: 500;
}

.hero__descr {
  margin: 0;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
}

.filter__section {
  width: 100%;
  background-color: #FFF;
  border-bottom: 1px solid #E5E8FE;
  z-index: 10;
}

.filter__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px;
  padding: 10px 0;
}

.filter__inner .datepicker,
.filter__inner .select {
  width: 100%;
}

.filter__col {
  padding: 10px;
}

.card__media::before,
.card__media::after,
.card__img__overlay::before,
.card__img__overlay::after {
  display: block;
  content: '';
  background-color: #1F35D4;
  border-radius: 4px;
}

.card__list {
  display: grid;
  grid-gap: 20px;
  padding: 40px 0;
}

.card__item {
  display: block;
  text-decoration: none;
  color: #161616;
}

.card__media {
  position: relative;
  margin-bottom: 20px;
}

.card__media::before,
.card__media::after {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.card__media::after {
  opacity: 0.59;
}

.card__img__overlay::before,
.card__img__overlay::after {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.card__img__overlay::before {
  opacity: 0.39;
}

.card__img__overlay::after {
  opacity: 0.49;
}

.card__image {
  border-radius: 4px;
  z-index: 5;
}

.card__image::before {
  padding-top: 65.8%;
}

.card__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  font-size: 17px;
  line-height: 30px;
  font-weight: 300;
  color: #1F35D4;
  text-decoration: none;
}

.card__title {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}

.card__price {
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
}

.card__item:nth-child(odd):hover .card__media::before {
  -webkit-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.card__item:nth-child(odd):hover .card__media::after {
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

.card__item:nth-child(odd):hover .card__img__overlay::before {
  -webkit-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
}

.card__item:nth-child(odd):hover .card__img__overlay::after {
  -webkit-transform: rotate(4deg) translateY(-10px);
  -ms-transform: rotate(4deg) translateY(-10px);
  transform: rotate(4deg) translateY(-10px);
}

.card__item:nth-child(even):hover .card__media::before {
  -webkit-transform: rotate(2deg) translateY(5px);
  -ms-transform: rotate(2deg) translateY(5px);
  transform: rotate(2deg) translateY(5px);
}

.card__item:nth-child(even):hover .card__media::after {
  -webkit-transform: rotate(-4deg) translateY(10px);
  -ms-transform: rotate(-4deg) translateY(10px);
  transform: rotate(-4deg) translateY(10px);
}

.card__item:nth-child(even):hover .card__img__overlay::before {
  -webkit-transform: rotate(1deg) translateY(-5px);
  -ms-transform: rotate(1deg) translateY(-5px);
  transform: rotate(1deg) translateY(-5px);
}

.card__item:nth-child(even):hover .card__img__overlay::after {
  -webkit-transform: rotate(-4deg) translateY(-10px);
  -ms-transform: rotate(-4deg) translateY(-10px);
  transform: rotate(-4deg) translateY(-10px);
}

@media (min-width: 768px) {
  .card__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .loader__inner {
    width: 60px;
    height: 60px;
    border-width: 4px;
  }

  .button {
    height: 50px;
    font-size: 15px;
    line-height: 20px;
  }

  .burger {
    display: none;
  }

  .header.sticky {
    background-color: #FFF;
    border-bottom-color: #E5E8FE;
  }

  .header__nav__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
  }

  .header__nav {
    margin-right: 30px;
  }

  .header__nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header__nav__item:not(:last-child) {
    margin-right: 30px;
  }

  .header__btn:not(:last-child) {
    margin-right: 20px;
  }

  .hero__title {
    font-size: 60px;
    line-height: 80px;
  }

  .card__list {
    grid-template-columns: repeat(3, 1fr);
    padding: 60px 0;
  }
}

@media (max-width: 1023.98px) {
  .loader__inner {
    width: 40px;
    height: 40px;
    border-width: 3px;
  }

  .burger {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 0;
    background: transparent;
    border: none;
  }

  .burger span {
    position: absolute;
    left: 8px;
    top: 18px;
    width: 24px;
    height: 4px;
    background-color: #161616;
    border-radius: 2px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  .burger span:first-child {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  .burger span:last-child {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
  }

  .burger.active span:first-child {
    -webkit-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }

  .burger.active span:nth-child(2) {
    opacity: 0;
  }

  .burger.active span:last-child {
    -webkit-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
  }

  .header {
    background-color: #FFF;
    border-bottom-color: #E5E8FE;
  }

  .header__burger {
    margin-left: auto;
  }

  .header__nav__wrapper {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 50px 25px;
    background-color: #FFF;
    border-bottom: 1px solid #E5E8FE;
  }

  .header__nav {
    margin-bottom: 35px;
    text-align: center;
  }

  .header__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header__btn:not(:last-child) {
    margin-bottom: 20px;
  }

  .hero__title {
    font-size: 36px;
    line-height: 52px;
  }
}

@media (max-width: 767.98px) {
  .filter__col {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    min-width: 240px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}